<!-- 
Version : Phython/Django 2.7.6, PostgreSQL 9.3.4
Author : Vaibhavi Desai
Github username : desaivaibhavi
email : ranihaileydesai@gmail.com
-->

<!-- the summary page -->

<html>
<head>
	<title>PeaceTrack | Summary</title>
	<style>
	{% include "DataTables-1.10.8/media/css/jquery.dataTables.css" %}
	</style>
	<style>
	tfoot input {
        width: 100%;
        padding: 3px;
        box-sizing: border-box;
    }
	</style>
	<script>
	{% include "DataTables-1.10.8/media/js/jquery.js" %}
	</script>
	<script>
	{% include "DataTables-1.10.8/media/js/jquery.dataTables.js" %}
	</script>
</head>
<script>

	$(document).ready( function () {

	$('#summary tfoot th').each( function () {
        var title = $('#summary tfoot th').eq( $(this).index() ).text();
        $(this).html( '<input type="text" placeholder="'+title+'" />' );
    	} );

    	var table = $('#summary').DataTable();
	
	// Apply the search
    	table.columns().every( function () {
        var that = this;
 
        $( 'input', this.footer() ).on( 'keyup change', function () {
            that
                .search( this.value )
                .draw();
        } );

	    } );
	} );
</script>
<body>
    {% include "header.html" %}
    <br><br><br><br><br><br>
    <center><h2><font color="#2c0f00"> PeaceTrack : Summary</font> </h2></center>
    <div style="width:1400px; height:auto; margin:0 auto; background-color:#0d8b97; padding-right:15px; padding-left:15px;">
    <br><br>
    <font color="white">
    
    <!--<b>Details by Post <br><br></b>-->
    
    <table id="summary">
    	<thead>
		<tr>
			<th> Post </th>
			<th> Region </th>
			<th> Sector </th>
			<th> Project </th>
			<th> Goal </th>
			<th> Objective </th>
			<th> Indicator </th>
			<th> Indicator Type</th>
			<th> Indicator Type</th>
			<th> Value</th>
		</tr>
    	</thead>
	<tfoot>
		<tr>
			<th> Post </th>
			<th> Region </th>
			<th> Sector </th>
			<th> Project </th>
			<th> Goal </th>
			<th> Objective </th>
			<th> Indicator </th>
			<th> Indicator Type</th>
			<th> Indicator Type</th>
			<th> Value</th>
		</tr>
    	</tfoot>
	<tbody>
    	{%if all_list|length ==0 %}
        	<center><font color="white"><h4>There are No Posts right now.</h4></font><br><br><br><br><br><br><br><br><br><br></center>
    	{% else %}
        
        	{% for each in all_list %}
		<tr>
        		<th> {{ each['post'] }} </th>
        		<th> {{ each['region'] }} </th>
        		<th> {{ each['sector'] }} </th>
        		<th> {{ each['project'] }} </th>
        		<th> {{ each['goal'] }} </th>
        		<th> {{ each['objective'] }} </th>
        		<th> {{ each['indicator'] }} </th>
        		<th> {{ each['ind_type_1'] }} </th>
        		<th> {{ each['ind_type_2'] }} </th>
        		<th> {{ each['value'] }} </th>
        	</tr>
        	{% endfor %}

   	{% endif %}
	</tbody>
    </table>
    <br>    
    <br>    

    </font>
    </div>
    <br><br>
    {% include "footer.html" %}

    
</body>
</html>
